In [1]:
import pandas as pd
df = pd.read_excel("loja.xlsx")
display(df)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16 00:00:00,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-17 23:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-17 23:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23 00:00:00,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09 00:00:00,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [2]:
# print(len(df.isnull().values))

# **2.0 Exercícios**

In [3]:


lo = df.loc[(df["Sales"]<=0)|(df["Quantity"]<=0)|(df["Profit"]<=0)].index

print(lo)
df.drop(lo, inplace=True)
display(df)

Int64Index([   3,   14,   15,   23,   27,   28,   32,   36,   38,   39,
            ...
            9899, 9903, 9912, 9919, 9920, 9921, 9931, 9937, 9962, 9977],
           dtype='int64', length=1936)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16 00:00:00,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714
4,5,US-2015-108966,2015-10-11,2015-10-17 23:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23 00:00:00,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09 00:00:00,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [4]:
do = df.loc[(df["Sales"]==None)|(df["Quantity"]==None)|(df["Profit"]==None)].index
df.drop(do, inplace=True)
display(df)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16 00:00:00,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714
4,5,US-2015-108966,2015-10-11,2015-10-17 23:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23 00:00:00,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09 00:00:00,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [5]:
print(len(df.isnull().values))

8058

In [6]:
for i in ["Sales","Quantity","Profit"]:
    df[i].fillna(df[i].mean())
display(df)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16 00:00:00,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714
4,5,US-2015-108966,2015-10-11,2015-10-17 23:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23 00:00:00,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09 00:00:00,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

# **3.0 Exercícios**

In [7]:
print(df.groupby("Sub-Category").sum().sort_values(by="Sales", ascending=False)["Sales"].index.tolist()[0])

Phones

<ipython-input-7-e0d56205c61b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby("Sub-Category").sum().sort_values(by="Sales", ascending=False)["Sales"].index.tolist()[0])

In [8]:
print((df.groupby("Sub-Category").sum()["Sales"]).max())

293993.89400000003

<ipython-input-8-7f2299c0d961>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print((df.groupby("Sub-Category").sum()["Sales"]).max())

In [9]:
print((df.groupby("Region").sum()["Sales"]).max())

641746.6235

<ipython-input-9-e0300d188c79>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print((df.groupby("Region").sum()["Sales"]).max())

In [10]:
print((df.groupby("Region").sum()["Profit"]))

Region
Central     96021.2475
East       141113.3875
South       74254.2626
West       131139.4098
Name: Profit, dtype: float64

<ipython-input-10-f86fbc3fc6d2>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print((df.groupby("Region").sum()["Profit"]))

# **4.0 Exercícios**

In [11]:
import datetime

df_4_2 = df
data = []

for line in df_4_2.values.tolist():

  if str(line[2])[0:4] == "2017":
    data.append(line)

df_4_2 = pd.DataFrame(data=data, columns=df_4_2.columns.tolist())

display(df_4_2)

df_region = df_4_2.groupby(["Region","Order ID"])

display(df_region)

str_re = str(df_region.count().index.values.tolist())

str_re = str_re.replace("')","").replace("('","").replace("]","").replace("[","").replace("'","").replace(" ","")

qtd = []
for i in ["Central","East","South","West"]:
    qtd.append((str_re.split(",")).count(i))

count = 0;
for i in ((df.groupby("Region").sum()["Sales"]).values.tolist()):
    print(i/qtd[count])
    count+=1

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,...,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,35,CA-2017-107727,2017-10-19,2017-10-23,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,...,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468
2,42,CA-2017-120999,2017-09-10,2017-09-15,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,...,60540,Central,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564
3,44,CA-2017-139619,2017-09-19,2017-09-23,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,...,32935,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616
4,72,CA-2017-114440,2017-09-14,2017-09-17,Second Class,TB-21520,Tracy Blumstein,Consumer,United States,Jackson,...,49201,Central,OFF-PA-10004675,Office Supplies,Paper,Telephone Message Books with Fax/Mobile Sectio...,19.050,3,0.0,8.7630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2668,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
2669,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
2670,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
2671,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
2672,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

1118.9399905660377
1251.1447813267812
1190.370008097166
1268.273959486166

<ipython-input-11-1c19bb56ea24>:28: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  for i in ((df.groupby("Region").sum()["Sales"]).values.tolist()):

In [12]:
df_4 = df

df_region = df_4.groupby(["Region","Order ID"])

display(df_region)

str_re = str(df_region.count().index.values.tolist())


str_re = str_re.replace("')","").replace("('","").replace("]","").replace("[","").replace("'","").replace(" ","")

qtd = []
for i in ["Central","East","South","West"]:
    qtd.append((str_re.split(",")).count(i))

count = 0;
for i in ((df.groupby("Region").sum()["Sales"]).values.tolist()):
    print(i/qtd[count])
    count+=1

387.1848933623504
416.0260833333333
396.7900026990553
421.37007452396585

<ipython-input-12-144007693d62>:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  for i in ((df.groupby("Region").sum()["Sales"]).values.tolist()):

In [13]:
df_cat = (df.groupby(["Category","Region","Order ID"]).agg({"Sales":"sum"}).groupby(["Category","Region"])).mean()
new = []
data_region = []

display(df_cat)
# for region in (df_cat.index.tolist()):
#   if str(region[0]) in new:
#     data_region[new.index(str(region[0]))].append(region)
#   else:
#     new.append(str(region[0]))
#     data_region.append([region])

# new_cat = []
# data_cat = []

# for region in data_region:
#   new_re = []
#   data_re = []
#   for data in region:
#     if data[0] in new_re:
#       data_re[new_re.index(str(data[0]))].append(data)
#     if 


# res = df_cat.values.tolist()

# print(res[0][0])

# cat_re = ""
# data = []
# finish = False

# for i,line in enumerate(list(df_cat.to_dict()["Sales"])):
#   if cat_re == "":
#     cat_re = line[0]+line[1];  
#   if (line[0]+line[1]) == cat_re:
#     data.append(res[i][0])
#     cont+=1;
#   else:
#     print(f"{cat_re} - {sum(data)/cont}")
#     cat_re = ""
#     data = [res[i][0]]
#     cont = 0

                              Sales
Category        Region
Furniture       Central  575.714351
                East     329.436795
                South    350.868417
                West     401.011638
Office Supplies Central  187.774501
                East     182.641906
                South    190.259360
                West     185.987748
Technology      Central  463.710660
                East     630.637331
                South    469.853139
                West     527.982096

# 5 - AOV X Preço Médio de Venda

###### Calcule o AOV e o Preço Médio de Venda mês a mês ao longo do período mensurado, crie também uma nova coluna "AOV_PMV" que indicará a razão entre AOV/PMV. Analise a variação dessa nova coluna mês a mês, e interprete o resultado com base na comparação entre AOV e PMV.

In [15]:
df["Month"] = df["Order Date"].dt.month
df["Year"] = df["Order Date"].dt.year

df_aov_pmv = df
df_pmv = df
df_count = df

df_aov_pmv = df_aov_pmv.sort_values(by=["Order ID"]).groupby(["Year","Month","Order ID"]).agg({"Sales":"sum"})

df_pmv = df_pmv.sort_values(by=["Order ID"]).groupby(["Year","Month","Order ID"]).agg({"Quantity":"sum"})

df_count = df_count.sort_values(by=["Order ID"]).groupby(["Year","Month","Order ID"]).agg({"Order ID":"count"})

df_aov_pmv["Quantity"] = df_pmv["Quantity"]
df_aov_pmv["Count"] = df_count["Order ID"].values

df_dict = df_aov_pmv

years = (df.groupby("Year").agg({"Year":"count"}).index.values)

for y in years:
  for m in range(1,12):
      print(f"year: {y} and month{m}")
      x = (df_aov_pmv.query(f"Year == {y}").query(f"Month == {m}")["Sales"].sum()/df_count.query(f"Year == {y}").query(f"Month == {m}").count())
      z = df_aov_pmv.query(f"Year == {y}").query(f"Month == {m}")["Sales"].sum()/df_pmv.query(f"Year == {y}").query(f"Month == {m}").sum()
      print(float(x)/float(z))
      print(" ")

year: 2014 and month1
7.678571428571429

year: 2014 and month2
6.045454545454546

year: 2014 and month3
7.327868852459016

year: 2014 and month4
7.639344262295082

year: 2014 and month5
6.064516129032258

year: 2014 and month6
7.1

year: 2014 and month7
7.203389830508475

year: 2014 and month8
8.396825396825395

year: 2014 and month9
7.24107142857143

year: 2014 and month10
6.869565217391305

year: 2014 and month11
7.257575757575758

year: 2015 and month1
7.318181818181818

year: 2015 and month2
5.942857142857143

year: 2015 and month3
6.055555555555555

year: 2015 and month4
6.515625

year: 2015 and month5
7.059701492537313

year: 2015 and month6
6.09375

year: 2015 and month7
7.754385964912281

year: 2015 and month8
7.390625

year: 2015 and month9
7.237704918032787

year: 2015 and month10
6.421052631578948

year: 2015 and month11
7.444444444444444

year: 2016 and month1
6.468085106382978

year: 2016 and month2
6.658536585365853

year: 2016 and month3
5.805555555555556

year: 2016 and month4
6.432098765432099

year: 2016 and month5
7.3125

year: 2016 and month6
7.464285714285715

year: 2016 and month7
7.232558139534884

year: 2016 and month8
6.766233766233766

year: 2016 and month9
6.466666666666667

year: 2016 and month10
7.056818181818182

year: 2016 and month11
6.583333333333333

year: 2017 and month1
7.53968253968254

year: 2017 and month2
5.83673469387755

year: 2017 and month3
7.086538461538462

year: 2017 and month4
5.747368421052632

year: 2017 and month5
6.813725490196079

year: 2017 and month6
6.504273504273503

year: 2017 and month7
7.121212121212121

year: 2017 and month8
7.909090909090908

year: 2017 and month9
6.896039603960396

year: 2017 and month10
6.976190476190477

year: 2017 and month11
6.502262443438914

# 6 - Considere que uma estratégia de retenção de clientes dessa loja foi fornecer um cupom de 10% de desconto para clientes que fizeram a primeira compra considerando o tempo médio entre os pedidos (em dias) para o envio do cupom. Encontre qual o tempo médio dos pedidos dos usuários para que seja possível executar essa estratégia




###### **<span style = 'color:red'>Caso necessário, considere utilizar o diff() (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.diff.html) para o calculo da diferença de dias</span>**

In [16]:
pip install datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datetime
  Downloading DateTime-5.1-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 2.3 MB/s eta 0:00:00
Collecting zope.interface
  Downloading zope.interface-6.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 246.1/246.1 kB 8.4 MB/s eta 0:00:00
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from datetime) (2022.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from zope.interface->datetime) (67.6.1)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-5.1 zope.interface-6.0

In [25]:
df_6 = df

from datetime import datetime 

df_6 = df_6.sort_values(by=["Customer ID","Order Date","Order ID",])
df_6 = df_6.drop_duplicates(subset=["Order Date", "Customer ID"])

customers = df_6["Customer ID"].drop_duplicates().tolist()

print(customers)

df_6 = (df_6[["Order ID","Order Date","Customer ID"]])

# display(df_6.groupby("Customer ID").agg({"Customer ID":"count"}))

customer_number = 0
sum = 0

me = []
new = True
cont = 0

for index,i in enumerate(df_6.values): 
  if(customers[customer_number] != i[2]):
    if cont != 0:
      me.append(sum/cont)
    sum = 0;
    customer_number+=1
    cont=0
    new = True
  if (new == True):
    new = False
    continue
  cont+=1
  sum += (datetime.strptime(str(i[1])[0:10], "%Y-%m-%d") - datetime.strptime(str(df_6.values[index-1][1])[0:10], "%Y-%m-%d")).days

sss = 0
for i in me: 
  try:
    x = int(i)
    sss+=x
  except: 
    print("eita")        

print(sss/len(me))

['AA-10315', 'AA-10375', 'AA-10480', 'AA-10645', 'AB-10015', 'AB-10060', 'AB-10105', 'AB-10150', 'AB-10165', 'AB-10255', 'AB-10600', 'AC-10420', 'AC-10450', 'AC-10615', 'AC-10660', 'AD-10180', 'AF-10870', 'AF-10885', 'AG-10270', 'AG-10300', 'AG-10330', 'AG-10390', 'AG-10495', 'AG-10525', 'AG-10675', 'AG-10765', 'AG-10900', 'AH-10030', 'AH-10075', 'AH-10120', 'AH-10195', 'AH-10210', 'AH-10465', 'AH-10585', 'AH-10690', 'AI-10855', 'AJ-10780', 'AJ-10795', 'AJ-10945', 'AJ-10960', 'AM-10360', 'AM-10705', 'AO-10810', 'AP-10720', 'AP-10915', 'AR-10345', 'AR-10405', 'AR-10510', 'AR-10540', 'AR-10570', 'AR-10825', 'AS-10045', 'AS-10090', 'AS-10135', 'AS-10225', 'AS-10240', 'AS-10285', 'AS-10630', 'AT-10435', 'AT-10735', 'AW-10840', 'AW-10930', 'AY-10555', 'AZ-10750', 'BB-10990', 'BB-11545', 'BC-11125', 'BD-11320', 'BD-11500', 'BD-11560', 'BD-11605', 'BD-11620', 'BD-11635', 'BD-11725', 'BD-11770', 'BE-11335', 'BE-11410', 'BE-11455', 'BF-10975', 'BF-11005', 'BF-11020', 'BF-11080', 'BF-11170', 'BF-11215', 'BF-11275', 'BG-11035', 'BG-11695', 'BG-11740', 'BH-11710', 'BK-11260', 'BM-11140', 'BM-11575', 'BM-11650', 'BM-11785', 'BN-11470', 'BN-11515', 'BO-11350', 'BO-11425', 'BP-11050', 'BP-11095', 'BP-11155', 'BP-11185', 'BP-11230', 'BP-11290', 'BS-11365', 'BS-11380', 'BS-11590', 'BS-11665', 'BS-11755', 'BS-11800', 'BT-11305', 'BT-11395', 'BT-11440', 'BT-11485', 'BT-11530', 'BT-11680', 'BV-11245', 'BW-11065', 'BW-11110', 'BW-11200', 'CA-11965', 'CA-12055', 'CA-12265', 'CA-12310', 'CA-12775', 'CB-12025', 'CB-12415', 'CB-12535', 'CC-12100', 'CC-12145', 'CC-12220', 'CC-12370', 'CC-12430', 'CC-12475', 'CC-12550', 'CC-12610', 'CC-12670', 'CC-12685', 'CD-11920', 'CD-11980', 'CD-12280', 'CD-12790', 'CG-12040', 'CG-12520', 'CH-12070', 'CJ-11875', 'CJ-12010', 'CK-12205', 'CK-12325', 'CK-12595', 'CK-12760', 'CL-11890', 'CL-12565', 'CL-12700', 'CM-11815', 'CM-11935', 'CM-12115', 'CM-12160', 'CM-12190', 'CM-12235', 'CM-12385', 'CM-12445', 'CM-12655', 'CM-12715', 'CP-12085', 'CP-12340', 'CR-12580', 'CR-12625', 'CR-12730', 'CR-12820', 'CS-11845', 'CS-11860', 'CS-11950', 'CS-12130', 'CS-12175', 'CS-12250', 'CS-12355', 'CS-12400', 'CS-12460', 'CS-12490', 'CS-12505', 'CT-11995', 'CV-12295', 'CV-12805', 'CW-11905', 'CY-12745', 'Co-12640', 'DA-13450', 'DB-12910', 'DB-12970', 'DB-13060', 'DB-13120', 'DB-13210', 'DB-13270', 'DB-13360', 'DB-13405', 'DB-13555', 'DB-13615', 'DB-13660', 'DC-12850', 'DC-13285', 'DD-13570', 'DE-13255', 'DF-13135', 'DG-13300', 'DH-13075', 'DH-13675', 'DJ-13420', 'DJ-13510', 'DJ-13630', 'DK-12835', 'DK-12895', 'DK-12985', 'DK-13090', 'DK-13150', 'DK-13225', 'DK-13375', 'DL-12865', 'DL-12925', 'DL-13315', 'DL-13330', 'DL-13495', 'DM-12955', 'DM-13015', 'DM-13345', 'DM-13525', 'DN-13690', 'DO-13435', 'DO-13645', 'DP-13000', 'DP-13105', 'DP-13165', 'DP-13390', 'DR-12880', 'DR-12940', 'DS-13030', 'DS-13180', 'DV-13045', 'DV-13465', 'DW-13195', 'DW-13480', 'DW-13540', 'DW-13585', 'Dl-13600', 'Dp-13240', 'EA-14035', 'EB-13705', 'EB-13750', 'EB-13840', 'EB-13870', 'EB-13930', 'EB-13975', 'EB-14110', 'EB-14170', 'EC-14050', 'ED-13885', 'EG-13900', 'EH-13765', 'EH-13945', 'EH-13990', 'EH-14005', 'EH-14125', 'EH-14185', 'EJ-13720', 'EJ-14155', 'EK-13795', 'EL-13735', 'EM-13810', 'EM-13825', 'EM-13960', 'EM-14065', 'EM-14095', 'EM-14140', 'EM-14200', 'EN-13780', 'EP-13915', 'ER-13855', 'ES-14020', 'ES-14080', 'FA-14230', 'FC-14245', 'FC-14335', 'FG-14260', 'FH-14275', 'FH-14350', 'FH-14365', 'FM-14215', 'FM-14290', 'FM-14380', 'FO-14305', 'FP-14320', 'FW-14395', 'GA-14515', 'GA-14725', 'GB-14530', 'GB-14575', 'GD-14590', 'GG-14650', 'GH-14410', 'GH-14425', 'GH-14485', 'GH-14665', 'GK-14620', 'GM-14440', 'GM-14455', 'GM-14500', 'GM-14680', 'GM-14695', 'GP-14740', 'GR-14560', 'GT-14635', 'GT-14710', 'GT-14755', 'GW-14605', 'GZ-14470', 'GZ-14545', 'HA-14905', 'HA-14920', 'HD-14785', 'HE-14800', 'HF-14995', 'HG-14845', 'HG-14965', 'HG-15025', 'HH-15010', 'HJ-14875', 'HK-14890', 'HL-15040', 'HM-14860', 'HM-14980', 'HP-14815', 'HR-14770', 'HR-14830', 'HW-14935', 'HZ-14950', 'IG-15085', 'IL-15100', 'IM-15055', 'IM-15070', 'JA-15970', 'JB-15400', 'JB-15925', 'JB-16000', 'JB-16045', 'JC-15340', 'JC-15385', 'JC-15775', 'JC-16105', 'JD-15790', 'JD-15895', 'JD-16015', 'JD-16060', 'JD-16150', 'JE-15475', 'JE-15610', 'JE-15715', 'JE-15745', 'JE-16165', 'JF-15190', 'JF-15295', 'JF-15355', 'JF-15415', 'JF-15490', 'JF-15565', 'JG-15115', 'JG-15160', 'JG-15310', 'JG-15805', 'JH-15430', 'JH-15820', 'JH-15910', 'JH-15985', 'JH-16180', 'JJ-15445', 'JJ-15760', 'JK-15205', 'JK-15325', 'JK-15370', 'JK-15625', 'JK-15640', 'JK-15730', 'JK-16090', 'JK-16120', 'JL-15130', 'JL-15175', 'JL-15235', 'JL-15505', 'JL-15835', 'JL-15850', 'JM-15250', 'JM-15265', 'JM-15535', 'JM-15580', 'JM-15655', 'JM-15865', 'JM-16195', 'JO-15145', 'JO-15280', 'JO-15550', 'JP-15460', 'JP-15520', 'JP-16135', 'JR-15670', 'JR-15700', 'JR-16210', 'JS-15595', 'JS-15685', 'JS-15880', 'JS-15940', 'JS-16030', 'JW-15220', 'JW-15955', 'JW-16075', 'KA-16525', 'KB-16240', 'KB-16315', 'KB-16405', 'KB-16585', 'KB-16600', 'KC-16255', 'KC-16540', 'KC-16675', 'KD-16270', 'KD-16345', 'KD-16495', 'KD-16615', 'KE-16420', 'KF-16285', 'KH-16330', 'KH-16360', 'KH-16510', 'KH-16630', 'KH-16690', 'KL-16555', 'KL-16645', 'KM-16225', 'KM-16375', 'KM-16660', 'KM-16720', 'KN-16390', 'KN-16450', 'KN-16705', 'KS-16300', 'KT-16465', 'KT-16480', 'KW-16435', 'KW-16570', 'LA-16780', 'LB-16735', 'LB-16795', 'LC-16870', 'LC-16885', 'LC-16930', 'LC-16960', 'LC-17050', 'LC-17140', 'LD-16855', 'LD-17005', 'LE-16810', 'LF-17185', 'LH-16750', 'LH-16900', 'LH-17020', 'LH-17155', 'LL-16840', 'LM-17065', 'LO-17170', 'LP-17080', 'LP-17095', 'LR-16915', 'LR-17035', 'LS-16945', 'LS-16975', 'LS-17200', 'LS-17230', 'LS-17245', 'LT-16765', 'LT-17110', 'LW-16825', 'LW-16990', 'LW-17125', 'LW-17215', 'MA-17560', 'MA-17995', 'MB-17305', 'MB-18085', 'MC-17275', 'MC-17425', 'MC-17575', 'MC-17590', 'MC-17605', 'MC-17635', 'MC-17845', 'MC-18100', 'MC-18130', 'MD-17350', 'MD-17860', 'ME-17320', 'ME-17725', 'ME-18010', 'MF-17665', 'MF-18250', 'MG-17650', 'MG-17680', 'MG-17695', 'MG-17875', 'MG-17890', 'MG-18145', 'MG-18205', 'MH-17290', 'MH-17440', 'MH-17455', 'MH-17620', 'MH-17785', 'MH-18025', 'MH-18115', 'MJ-17740', 'MK-17905', 'MK-18160', 'ML-17395', 'ML-17410', 'ML-17755', 'ML-18040', 'ML-18265', 'MM-17260', 'MM-17920', 'MM-18055', 'MM-18280', 'MN-17935', 'MO-17500', 'MO-17800', 'MO-17950', 'MP-17470', 'MP-17965', 'MP-18175', 'MR-17545', 'MS-17365', 'MS-17530', 'MS-17710', 'MS-17770', 'MS-17830', 'MS-17980', 'MT-17815', 'MT-18070', 'MV-17485', 'MV-18190', 'MW-18220', 'MW-18235', 'MY-17380', 'MY-18295', 'MZ-17335', 'MZ-17515', 'NB-18580', 'NB-18655', 'NC-18340', 'NC-18415', 'NC-18535', 'NC-18625', 'ND-18370', 'ND-18460', 'NF-18385', 'NF-18475', 'NF-18595', 'NG-18355', 'NG-18430', 'NH-18610', 'NK-18490', 'NL-18310', 'NM-18445', 'NM-18520', 'NP-18325', 'NP-18670', 'NP-18685', 'NP-18700', 'NR-18550', 'NS-18505', 'NS-18640', 'NW-18400', 'NZ-18565', 'ON-18715', 'OT-18730', 'PA-19060', 'PB-18805', 'PB-19105', 'PB-19150', 'PB-19210', 'PC-18745', 'PC-19000', 'PF-19120', 'PF-19165', 'PF-19225', 'PG-18820', 'PG-18895', 'PH-18790', 'PJ-18835', 'PJ-19015', 'PK-18910', 'PK-19075', 'PL-18925', 'PM-18940', 'PM-19135', 'PN-18775', 'PO-18850', 'PO-18865', 'PO-19180', 'PO-19195', 'PP-18955', 'PR-18880', 'PS-18760', 'PS-18970', 'PS-19045', 'PT-19090', 'PV-18985', 'PW-19030', 'PW-19240', 'QJ-19255', 'RA-19285', 'RA-19885', 'RA-19915', 'RA-19945', 'RB-19330', 'RB-19360', 'RB-19435', 'RB-19465', 'RB-19570', 'RB-19645', 'RB-19705', 'RB-19795', 'RC-19825', 'RC-19960', 'RD-19480', 'RD-19585', 'RD-19660', 'RD-19720', 'RD-19810', 'RD-19900', 'RD-19930', 'RE-19405', 'RE-19450', 'RF-19345', 'RF-19735', 'RF-19840', 'RH-19495', 'RH-19510', 'RH-19555', 'RH-19600', 'RK-19300', 'RL-19615', 'RM-19375', 'RM-19675', 'RM-19750', 'RO-19780', 'RP-19270', 'RP-19390', 'RP-19855', 'RR-19315', 'RR-19525', 'RS-19420', 'RS-19765', 'RS-19870', 'RW-19540', 'RW-19630', 'RW-19690', 'SA-20830', 'SB-20170', 'SB-20185', 'SB-20290', 'SC-20020', 'SC-20050', 'SC-20095', 'SC-20230', 'SC-20260', 'SC-20305', 'SC-20380', 'SC-20440', 'SC-20575', 'SC-20680', 'SC-20695', 'SC-20725', 'SC-20770', 'SC-20800', 'SC-20845', 'SD-20485', 'SE-20110', 'SF-20065', 'SF-20200', 'SF-20965', 'SG-20080', 'SG-20470', 'SG-20605', 'SG-20890', 'SH-19975', 'SH-20395', 'SH-20635', 'SJ-20125', 'SJ-20215', 'SJ-20500', 'SK-19990', 'SL-20155', 'SM-20005', 'SM-20320', 'SM-20905', 'SM-20950', 'SN-20560', 'SN-20710', 'SO-20335', 'SP-20545', 'SP-20620', 'SP-20650', 'SP-20860', 'SP-20920', 'SR-20425', 'SR-20740', 'SS-20140', 'SS-20410', 'SS-20515', 'SS-20590', 'SS-20875', 'ST-20530', 'SU-20665', 'SV-20365', 'SV-20785', 'SV-20815', 'SV-20935', 'SW-20245', 'SW-20275', 'SW-20350', 'SW-20455', 'SW-20755', 'SZ-20035', 'TA-21385', 'TB-21055', 'TB-21175', 'TB-21190', 'TB-21250', 'TB-21280', 'TB-21355', 'TB-21400', 'TB-21520', 'TB-21595', 'TB-21625', 'TC-20980', 'TC-21145', 'TC-21295', 'TC-21475', 'TC-21535', 'TD-20995', 'TG-21310', 'TG-21640', 'TH-21100', 'TH-21115', 'TH-21235', 'TH-21550', 'TM-21010', 'TM-21490', 'TN-21040', 'TP-21130', 'TP-21415', 'TP-21565', 'TR-21325', 'TS-21160', 'TS-21205', 'TS-21340', 'TS-21370', 'TS-21430', 'TS-21505', 'TS-21610', 'TS-21655', 'TT-21070', 'TT-21220', 'TT-21265', 'TT-21460', 'TW-21025', 'TZ-21580', 'VB-21745', 'VD-21670', 'VF-21715', 'VG-21790', 'VG-21805', 'VM-21685', 'VM-21835', 'VP-21730', 'VP-21760', 'VS-21820', 'VT-21700', 'VW-21775', 'WB-21850', 'XP-21865', 'YC-21895', 'YS-21880', 'ZC-21910', 'ZD-21925']
249.26363636363635

##### 7 - A fim de aumentar a quantidade de produtos vendidos por pedido, estabeleceu-se a seguinte estratégia: "Será fornecido um cupom de 50% de desconta para a compra de mais um dos itens que já estão no carrinho". Porém esse cupom deve ser fornecido somente para consumidores que estão comprando a quantidade de produtos abaixo da média. Encontre a quantidade média de produtos por compra para determinar quais consumidores terão acesso a esse desconto. OBS: Arredonde para cima!

In [18]:
import math

df_7 = df

df_7 = df_7.groupby("Order ID").agg({"Quantity":"sum"})

sum = df_7.sum()
cols = (df_7.shape[0])

math.ceil(sum/cols)

7

# 8 - Retention e Churn Rate




##### A taxa de retenção (retention rate) refere-se a razão entre os clientes que continuam a comprar os produtos de um negócio em um determinado período de tempo e o total de clientes. A taxa churn refere-se ao oposto, ou seja, a razão entre os clientes que deixaram de comprar os produtos de um negócio em um determinado período de tempo e o total de clientes. Um bom negócio possui uma alta taxa de retenção e uma baixa taxa churn.




###### **<span style = 'color:red'>OBS: Considere a utilização de nunique() para a contagem de elementos únicos do DataFrame</span>**

In [24]:
df_8 = df

df_8 = df_8.groupby(["Year","Customer ID"]).agg({"Order ID":"count"})

anos = []
cont = 0

for ano in df.groupby("Year").mean().index:
  lastyear = df_8.query(f"Year == {ano}")
  ids = []
  for year in lastyear.index:
    ids.append(year[1])
  
  anos.append(ids)

response = [];
others = []
for index,listYear in enumerate(anos[0:3]):
  number = 0 
  other = 0 
  for cu in listYear:
    if cu in anos[index+1]:
      number+=1
    else:
      other +=1
  response.append(number)
  others.append(other)

years = df.groupby("Year").mean().index.tolist()   
for index,ano in enumerate(anos[1:]):
  print(f"{years[index]} -- {years[index +1]} ")
  chorn = round(response[index]/(others[index]+response[index]),2)
  print(str(chorn)+" C  --  "+str(round(1-chorn,2))+" R")

2014 -- 2015
0.7 C  --  0.3 R
2015 -- 2016
0.74 C  --  0.26 R
2016 -- 2017
0.85 C  --  0.15 R

<ipython-input-24-9c5889acba0c>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  for ano in df.groupby("Year").mean().index:
<ipython-input-24-9c5889acba0c>:29: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  years = df.groupby("Year").mean().index.tolist()